<div class="links-container">
  <form>
    <h1 class="page-title">Customize your links</h1>
    <p class="description">Add/edit/remove links below and then share all your profiles with the world!</p>
  </form>
  <button class="action-btn full outline">+ Add new link</button>
  <div class="link-list">
    <div class="link-container">
      <button type="button" class="drag-btn">
        <span class="icon"></span>
        <span class="text">Link#1</span>
      </button>
      <button type="button" class="remove-btn">Remove</button>
      <div class=""></div>
    </div>
  </div>
</div>
