:host{
  display: block;
  height: 100%;
  padding-top: 2rem;
  position: absolute;
  width: 100%;
}

.login-container{
  max-width: 29.75rem;
}

.logo-container{
  display: block;
  margin-left: 2rem;
}

.action-btn{
  margin-top: 1.5rem;
}
