:host{
  background-color: #FFFFFF;
  display: block;
}

a{
  color: #737373;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

header{
  padding: 1rem 1rem 1rem 1.5rem;
}

nav{
  display: flex;
}

.nav-link{
  align-items: center;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.5rem;
  display: inline-flex;
  height: inherit;
  padding: 0 1.6875rem;
}

.nav-link:first-of-type{
  margin-left: auto;
}

.nav-link > span:not(.text){
  background-color: #737373;
  display: inline-block;
  height: 1.25rem;
  margin-left: 0.5rem;
  mask-position: center;
  mask-repeat: no-repeat;
  width: 1.5rem;
}

.nav-link > span.text{

  background-color: inherit;
}

.nav-link > span.link{
  mask-image: url("/assets/icon-links-header.svg");
}

.nav-link > span.profile{
  mask-image: url("/assets/icon-profile-details-header.svg");
}

.nav-link.link-active > span:not(.text){
  background-color: #633CFF;
}

.nav-link.link-active > span.text{
  background-color: inherit;
  color: #633CFF;
}

.nav-link.link-active{
  background-color: #EFEBFF;
}

.preview-link{
  margin-left: auto;
  background-image: url("/assets/icon-preview-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #633CFF;
  border-radius: 0.5rem;
  height: 2.625rem;
  width: 3.25rem;
}
